.App {
  text-align: center;
  padding-bottom: 80px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  font-family: "Mohave", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #d7eaf3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-size: 40px;
}
.prodcutsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productWrapper {
  display: flex;
  background-color: white;
  padding: 30px;
  border-bottom: 2px solid gray;
  width: 100%;
  color: inherit;
  text-decoration: none;
  /* box-shadow: 19px 21px 38px -21px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 19px 21px 38px -21px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 19px 21px 38px -21px rgba(0, 0, 0, 0.79); */
}
.productImage {
  height: 225px;
  width: 225px;
  object-fit: contain;
}
.productDetails {
  text-align: left;
  margin-left: 25px;
}
.productDetails strong {
  font-size: 14px;
}
.offerPrice {
  font-size: 18px;
}
.actualPrice {
  font-size: 12px;
  margin-left: 10px;
}
.productSource {
  font-size: 16px;
}
.filterWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.loader {
  border: 12px solid #ecd1e8;
  border-radius: 50%;
  border-top: 12px solid #e51ec8;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes ldio-g5nkrhk3785 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-g5nkrhk3785 div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 7px solid #e15b64;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-g5nkrhk3785 div {
  animation: ldio-g5nkrhk3785 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-xsd6njgu3cq {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-g5nkrhk3785 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-g5nkrhk3785 div {
  box-sizing: content-box;
}

.spinnerWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .productWrapper {
    flex-direction: column;
  }
}
.paginationContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}
